@font-face {
  font-family: robo;
  src: url(Assets/Fonts/robotomono.woff2);
}

@font-face {
  font-family: chill;
  src: url(Assets/Fonts/Chillax-Regular.otf);
}

@font-face {
  font-family: satoshi;
  src: url(Assets/Fonts/Satoshi-Light.woff);
}