@font-face {
  font-family: robo;
  src: url(Assets/robotomono.woff2);
}

@font-face {
  font-family: chill;
  src: url(Assets/Chillax-Regular.otf);
}

@font-face {
  font-family: satoshi;
  src: url(Assets/Satoshi-Light.woff);
}