@import "fonts";
@import "colors";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}

//------Main code--------------//

.main {
  width: 100%;
  @include flex(column);
  padding: 1rem;

  .main__nav {
    @include flex(row, space-between, center);

    .main__nav-logo {
      padding: 1.1rem 0.5rem;
    }

    .main__nav-menu {
      @include flex(row, center, center, 0.5rem);

      .nav__btn {
        @include button($color-text-light, $color-surface);
        cursor: pointer;
        &:hover {
          background-color: #282828;
        }
      }

      .git_btn {
        display: none;
        &:hover {
          background-color: #b4a55f;
        }
      }

      .btn {
        display: none;
      }

      span {
        @include styles(
          null,
          0.77rem,
          300,
          null,
          $color-background,
          $color-primary
        );
        padding: 0.08rem 0.38rem;
        border-radius: 1rem;
      }

      .ri-menu-line {
        @include styles(
          robo,
          2rem,
          100,
          null,
          $color-text-light,
          $color-surface
        );
        border-radius: 0.5rem;
        padding: 0.5rem 0.85rem;
        border: none;
      }
    }
  }

  //------Studio section--------------//

  .studio {
    @include flex($direction: column, $gap: 1rem);
    margin: 1rem 0;

    .studio__container-img {
      .studio__image-top {
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .studio__content {
      @include flex($direction: column, $gap: 4rem);
      border-radius: 0.5rem;
      background-color: $color-surface;
      padding: 1.8rem;
      .studio__subtitle {
        @include styles(robo, 1rem, null, uppercase, $color-text-light);
      }

      .studio__text {
        .studio__heading {
          @include styles(chill, 2.3rem, 400, uppercase, $color-text-light);
          line-height: 3rem;
        }

        .studio__description {
          @include styles(satoshi, 1.4rem, 500, null, $color-grey);
          margin-top: 0.8rem;
        }

        .studio__actions {
          @include flex(row, flex-start, center, 0.5rem);
          margin-top: 1rem;
          cursor: pointer;

          .studio__btn {
            border: 1px solid #474747;
            border-radius: 50%;
            padding: 0.65rem 0.7rem;
            background-color: #292929;
            color: $color-text-light;
          }

          .studio__btn-text {
            @include styles(robo, 0.9rem, 400, uppercase, $color-text-light);
          }
        }
      }
    }
  }

  //------Stats section--------------//

  .stats {
    @include flex($direction: column, $gap: 1.5rem);
    padding: 1.3rem 1.8rem;

    .stats__top,
    .stats__bottom {
      @include flex(row, space-between, center);
      .stats__item {
        .stats__label {
          @include styles(robo, null, null, uppercase, $color-grey);
          text-align: center;
        }

        .stats__number {
          @include styles(chill, 2.4rem, 400, null, $color-text-light);
        }
      }
    }
  }

  //------Philosophy section--------------//

  .philosophy {
    @include flex($direction: column, $gap: 1rem);
    margin: 1rem 0;

    .philosophy__img-container {
      .philosophy__image-top {
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .philosophy__content {
      @include flex($direction: column, $gap: 4rem);
      border-radius: 0.5rem;
      background-color: $color-surface;
      padding: 1.8rem;

      .philosophy__subtitle {
        @include styles(robo, 1rem, null, uppercase, $color-text-light);
      }

      .philosophy__text {
        .philosophy__heading {
          @include styles(chill, 2.08rem, 400, uppercase, $color-text-light);
          line-height: 2.5rem;
        }

        .philosophy__description {
          @include styles(satoshi, 1.13rem, 500, null, $color-grey);
          margin-top: 0.8rem;
        }
      }
    }
  }

  //------vision section--------------//

  .vision {
    @include flex($direction: column, $gap: 1rem);
    margin-top: 1rem;

    .vision__img-container {
      .vision__image-top {
        object-fit: cover;
        border-radius: 0.5rem;
        width: 100%;
      }
    }

    .vision__content {
      @include flex($direction: column, $gap: 4rem);
      border-radius: 0.5rem;
      background-color: $color-surface;
      padding: 1.8rem;

      .vision__subtitle {
        @include styles(robo, 1rem, null, uppercase, $color-text-light);
      }

      .vision__text {
        .vision__heading {
          @include styles(chill, 2.08rem, 400, uppercase, $color-text-light);
          line-height: 2.5rem;
        }

        .vision__description {
          @include styles(satoshi, 1.13rem, 500, null, $color-grey);
          margin-top: 0.8rem;
          line-height: 1.6rem;
        }
      }
    }
  }

  //------Team section---------------//
  .team {
    .team__content {
      padding: 1.2rem;

      .team__content-findjob-btn {
        display: none;
        cursor: pointer;
      }

      .team__content-heading {
        @include styles(chill, 2rem, 500, uppercase, $color-text-light);
      }
    }

    .cards {
      @include flex($direction: column, $gap: 1rem);

      .card-1 {
        @include card();
        @include card_design();
        background-image: url(Assets/Images/team_1.webp);
      }
      .card-2 {
        @include card();
        @include card_design();
        background-image: url(Assets/Images/team_2.webp);
      }
      .card-3 {
        @include card();
        @include card_design();
        background-image: url(Assets/Images/team_3.webp);
      }
    }
  }

  //--------- Join team section ------------//

  .jointeam {
    @include flex($direction: column, $gap: 1rem);
    margin: 1rem 0;

    .jointeam__img-container {
      .jointeam__image-top {
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .jointeam__content {
      @include flex($direction: column, $gap: 0.8rem);
      border-radius: 0.5rem;
      background-color: $color-surface;
      padding: 1.8rem;

      .jointeam__subtitle {
        @include styles(robo, 1rem, 500, uppercase, #979693);
      }

      .jointeam__text {
        .jointeam__heading {
          @include styles(chill, 2.5rem, 400, uppercase, $color-text-light);
          line-height: 2.5rem;
        }

        .jointeam__actions {
          @include flex(row, flex-start, center, 0.7rem);
          cursor: pointer;
          margin-top: 3.7rem;

          .jointeam__btn {
            border: 1px solid #474747;
            border-radius: 50%;
            padding: 0.65rem 0.7rem;
            background-color: #292929;
            color: $color-text-light;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          .jointeam__btn-text {
            @include styles(robo, 0.9rem, 400, uppercase, $color-text-light);
          }
        }
      }
    }
  }

  // ------- contact section -----------------//
  .contact {
    @include flex($direction: column, $gap: 1rem);
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: $color-primary;

    .contact__subtitle {
      @include styles(robo, 0.9rem, 400, uppercase);
      letter-spacing: 0.5px;
    }

    .contact-heading-btn {
      @include flex($direction: column, $gap: 1rem);

      .contact__heading {
        @include styles(chill, 2.6rem, 500, uppercase);
        line-height: 2.7rem;
        width: 90%;
      }

      .contact__btn {
        @include styles(
          robo,
          1rem,
          null,
          uppercase,
          $color-text-light,
          $color-background
        );
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
      }
    }
  }

  // ---------- socialmedia handles section --------------//
  .footer__bottom {
    .socialhandles {
      @include flex($direction: column, $gap: 5rem);
      background-color: $color-surface;
      padding: 1.5rem;
      border-radius: 0.5rem;

      .socialhandles__icons {
        @include flex($direction: row, $gap: 0.6rem);
        .icon {
          @include styles(null, 1.1rem, null, null, $color-text-light, #292929);
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid #494949;
          padding: 0.6rem 0.65rem;
        }
      }
    }

    // --------------pages section----------------------//
    .pages {
      @include flex($direction: column, $gap: 2.5rem);
      margin: 1rem 0;
      border-radius: 0.5rem;
      padding: 1.5rem;
      background-color: $color-surface;

      .bottom__nav {
        @include flex($direction: column, $align: flex-start, $gap: 1.5rem);
        text-transform: uppercase;

        .bottom__nav-heading {
          @include styles(chill, 1.3rem, 400, null, $color-text-light);
          letter-spacing: 0.8px;
        }

        .page__links {
          @include styles(robo, 0.9rem, 600, null, $color-grey);
          letter-spacing: 0.3px;
          text-decoration: none;
        }

        .bottom__nav-btn {
          @include styles(
            robo,
            1rem,
            600,
            uppercase,
            $color-background,
            $color-primary
          );
          cursor: pointer;
          padding: 0.9rem 1.3rem;
          border-radius: 0.5rem;
          border: none;
        }
      }

      .cms {
        @include flex(column, flex-start, flex-start, 1.5rem);
        text-transform: uppercase;

        .cms-heading {
          @include styles(chill, 1.3rem, 400, null, $color-text-light);
          letter-spacing: 0.8px;
        }

        .page__links {
          @include styles(robo, 0.9rem, 600, null, $color-grey);
          letter-spacing: 0.3px;
          text-decoration: none;
        }
      }

      .utility__pages {
        @include flex(column, flex-start, flex-start, 1.5rem);
        text-transform: uppercase;

        .utility__pages-heading {
          @include styles(chill, 1.3rem, 400, null, $color-text-light);
          letter-spacing: 0.8px;
        }

        .page__links {
          @include styles(robo, 0.9rem, 600, null, $color-grey);
          letter-spacing: 0.3px;
          text-decoration: none;
        }
      }
    }
  }

  // ------------ credits section ----------------//

  .credits {
    padding: 1.5rem;
    background-color: $color-surface;
    border-radius: 0.5rem;

    .credits-heading {
      @include styles(robo, 0.9rem, 500, uppercase, $color-grey);
      text-align: center;

      .credits__links {
        color: $color-text-light;
      }
    }

    .credtis-content {
      @include styles(robo, 0.95rem, 400, uppercase, $color-text-light);
      cursor: pointer;
      text-align: center;
      margin-top: 2rem;

      .top__btn {
        border: 1px solid #494949;
        background-color: #292929;
        color: $color-text-light;
        padding: 0.8rem;
        border-radius: 50%;
      }
    }
  }

  // ----------- template section ---------------//
  .template {
    @include flex(row, flex-start, center, 0.5rem);
    background-color: $color-text-light;
    position: fixed;
    margin: 1rem;
    right: 0;
    bottom: 0;
    padding: 0.3rem 0.45rem;
    border-radius: 0.2rem;
    cursor: pointer;

    .template__img {
      width: 1.3rem;
    }
  }
}

//------Responisve for mobile view--------------//

@media (min-width: 768px) {
  .main {
    .main__nav {
      .main__nav-menu {
        .git_btn {
          @include button($color-surface, $color-primary);
          display: block;
        }
      }
    }
    .studio {
      .studio__container-img {
        .studio__image-top {
          border-radius: 1rem;
        }
      }

      .studio__content {
        border-radius: 1rem;
        gap: 8rem;

        .studio__text {
          .studio__heading {
            width: 90%;
            font-size: 3.7rem;
            line-height: 4.5rem;
          }

          .studio__description {
            width: 90%;
          }

          .studio__actions {
            margin-top: 2.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .stats {
      padding: 1.7rem 8rem;
      gap: 1.5rem;

      .stats__top,
      .stats__bottom {
        @include flex(row, space-between, center);
        .stats__item {
          .stats__label {
            br {
              display: none;
            }
          }

          .stats__number {
            font-weight: 400;
            font-size: 3.6rem;
          }
        }
      }
    }

    .philosophy {
      .philosophy__img-container {
        .philosophy__image-top {
          border-radius: 1rem;
        }
      }
      .philosophy__content {
        border-radius: 1rem;
        gap: 8rem;
        padding: 2.8rem;
        .philosophy__text {
          .philosophy__heading {
            font-size: 2.8rem;
            line-height: 3.5rem;
          }

          .philosophy__description {
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      .vision__img-container {
        .vision__image-top {
          border-radius: 1rem;
        }
      }

      .vision__content {
        border-radius: 1rem;
        gap: 8rem;
        padding: 2.8rem;

        .vision__text {
          .vision__heading {
            font-size: 2.9rem;
            line-height: 3.5rem;
          }

          .vision__description {
            column-count: 2;
            font-size: 1.3rem;
            line-height: 1.8rem;
            gap: 1rem;
          }
        }
      }
    }

    .team {
      .team__content {
        @include flex(row, space-between, center);
        padding: 2.4rem 1.5rem;

        .team__content-heading {
          @include styles(chill, 2.8rem, 500, uppercase, $color-text-light);
        }
        .team__content-findjob-btn {
          @include flex($align: center, $gap: 1rem);
          .jointeam__btn {
            border: 1px solid #3f3f3f;
            border-radius: 50%;
            color: #bebcb8;
            padding: 0.6rem;
            background-color: #1e1e1e;
            color: $color-text-light;
          }

          .jointeam__btn-text {
            @include styles(robo, 0.9rem, 400, uppercase, $color-text-light);
          }
        }
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .card-1 {
          border-radius: 1rem;
          .card__bottom {
            border-radius: 0.4rem;
          }
        }
        .card-2 {
          border-radius: 1rem;
          .card__bottom {
            border-radius: 0.4rem;
          }
        }
        .card-3 {
          border-radius: 1rem;
          .card__bottom {
            border-radius: 0.4rem;
          }
        }
      }
    }

    .jointeam {
      .jointeam__img-container {
        .jointeam__image-top {
          border-radius: 1rem;
        }
      }

      .jointeam__content {
        border-radius: 1rem;
        padding: 2.2rem 2.8rem;

        .jointeam__text {
          .jointeam__heading {
            width: 85%;
            font-size: 2.8rem;
            line-height: 3.3rem;
          }

          .jointeam__actions {
            margin-top: 8rem;
          }
        }
      }
    }

    .contact {
      gap: 1rem;
      border-radius: 1rem;
      padding: 2.5rem;

      .contact-heading-btn {
        .contact__heading {
          font-size: 4.1rem;
          line-height: 4rem;
        }

        .contact__btn {
          margin-top: 0.5rem;
        }
      }
    }

    .socialhandles {
      padding: 2.5rem;
      border-radius: 1rem;
      gap: 8rem;
    }

    .pages {
      @include flex(row, space-between);
      border-radius: 1rem;
      padding: 2.2rem 5rem 2.2rem 2.2rem;

      .bottom__nav {
        gap: 1.8rem;
        .page__links {
          letter-spacing: 1px;
        }
      }

      .cms {
        .page__links {
          letter-spacing: 1px;
        }
      }

      .utility__pages {
        .page__links {
          letter-spacing: 1px;
        }
      }
    }

    .credits {
      @include flex(row, space-between, center);
      padding: 2.8rem 1.8rem;
      border-radius: 1rem;
      .credtis-content {
        margin-top: 0rem;
      }
    }

    .template {
      right: 0.8%;
      bottom: 1.1%;
      padding: 0.35rem 0.45rem;
    }
  }
}

//------Responsive for laptop view--------------//

@media (min-width: 1024px) {
  .main {
    .main__nav {
      .main__nav-menu {
        .btn {
          @include button($color-text-light, $color-surface);
          display: block;
          &:hover {
            background-color: #282828;
          }
        }
        .ri-menu-line {
          display: none;
        }
      }
    }

    .studio {
      width: 100%;
      flex-direction: row;

      .studio__container-img {
        width: 50%;
        .studio__image-top {
          height: 100%;
          width: 100%;
          border-radius: 1rem;
        }
      }

      .studio__content {
        width: 50%;
        border-radius: 1rem;
        gap: 12rem;
        padding: 3rem;

        .studio__text {
          .studio__heading {
            font-size: 2.85rem;
            line-height: 3.3rem;
          }

          .studio__description {
            width: 100%;
            font-size: 1.4rem;
          }

          .studio__actions {
            margin-top: 3rem;
            gap: 0.7rem;
          }
        }
      }
    }

    .stats {
      @include flex($direction: row, $gap: 8.8rem);
      padding: 3rem 4rem;

      .stats__top,
      .stats__bottom {
        display: flex;
        gap: 8.8rem;
        .stats__item {
          .stats__label {
            white-space: nowrap;
          }
          .stats__number {
            padding-top: 0.4rem;
            font-size: 2.9rem;
          }
        }
      }
    }

    .philosophy {
      width: 100%;
      flex-direction: row-reverse;
      .philosophy__img-container {
        width: 50%;
        .philosophy__image-top {
          border-radius: 1rem;
          width: 100%;
          height: 100%;
        }
      }

      .philosophy__content {
        width: 50%;
        border-radius: 1rem;
        gap: 12rem;
        padding: 3rem;

        .philosophy__text {
          .philosophy__heading {
            margin-bottom: 1rem;
            font-size: 2.18rem;
            line-height: 2.5rem;
          }

          .philosophy__description {
            gap: 1.8rem;
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      width: 100%;
      flex-direction: row;

      .vision__img-container {
        width: 50%;
        .vision__image-top {
          border-radius: 1rem;
          width: 100%;
          height: 100%;
        }
      }

      .vision__content {
        width: 50%;
        border-radius: 1rem;
        gap: 12rem;
        padding: 3rem;

        .vision__text {
          .vision__heading {
            margin-bottom: 1rem;
            font-size: 2.18rem;
            line-height: 2.5rem;
          }

          .vision__description {
            gap: 1.8rem;
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }

    .team {
      .team__content {
        padding: 2.4rem 1.9rem;
        .team__content-heading {
          font-size: 2.2rem;
        }
      }

      .cards {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .jointeam {
      flex-direction: row;
      .jointeam__img-container {
        width: 50%;
        .jointeam__image-top {
          border-radius: 1rem;
          width: 100%;
          height: 100%;
        }
      }

      .jointeam__content {
        width: 50%;
        padding: 2.8rem 2.8rem;

        .jointeam__text {
          .jointeam__heading {
            width: 100%;
            font-size: 2.17rem;
            line-height: 2.5rem;
          }

          .jointeam__actions {
            margin-top: 12rem;
          }
        }
      }
    }

    .contact {
      gap: 0.6rem;
      border-radius: 1rem;
      padding: 3rem;

      .contact-heading-btn {
        @include flex(row, space-between, flex-end);

        .contact__heading {
          font-size: 3.6rem;
          line-height: 3.6rem;
        }

        .contact__btn {
          white-space: nowrap;
          margin-top: 0.38rem 1rem;
        }
      }
    }

    .footer__bottom {
      display: grid;
      grid-template-columns: 20% 1fr;
      gap: 1rem;
      grid-template-areas:
        "socialhandles pages"
        "socialheader credits";

      .socialhandles {
        @include flex($direction: column, $justify: space-between);
        border-radius: 1rem;
        grid-area: socialhandles;
        grid-row: 1/3;
        padding: 3rem;
        .socialhandles__icons {
          display: flex;
          flex-wrap: wrap;
          gap: 0.6rem;
        }
      }

      .pages {
        @include flex($direction: row, $justify: center, $gap: 5rem);
        border-radius: 1rem;
        grid-area: pages;
        margin: 0;
        padding: 2.8rem 4rem 2.8rem 2.8rem;

        .bottom__nav {
          gap: 1.8rem;
          .page__links {
            font-size: 0.9rem;
            letter-spacing: 0.6px;
          }
        }

        .cms {
          gap: 1.8rem;
          .page__links {
            font-size: 0.9rem;
            letter-spacing: 0.6px;
          }
        }

        .utility__pages {
          gap: 1.8rem;
          .page__links {
            font-size: 0.9rem;
            letter-spacing: 0.6px;
          }
        }
      }
    }

    .credits {
      grid-area: credits;
      padding: 2.7rem 1.8rem;
      background-color: $color-surface;
      border-radius: 1rem;
    }
  }
}

//------Responsive for laptop view--------------//

@media (min-width: 1440px) {
  .main {
    .studio {
      .studio__content {
        padding: 4rem;

        .studio__text {
          .studio__heading {
            font-size: 3.87rem;
            font-family: chill;
            line-height: 4.6rem;
            text-transform: uppercase;
          }

          .studio__description {
            width: 100%;
            font-size: 1.38rem;
            line-height: 2.1rem;
            font-weight: 500;
          }
        }
      }
    }

    .stats {
      gap: 14rem;

      .stats__top,
      .stats__bottom {
        gap: 14rem;
        .stats__item {
          .stats__number {
            padding-top: 0.4rem;
            font-size: 4rem;
          }
        }
      }
    }

    .philosophy {
      .philosophy__content {
        gap: 13rem;
        padding: 4rem;

        .philosophy__text {
          .philosophy__heading {
            margin-bottom: 1rem;
            font-size: 3.1rem;
            line-height: 3.78rem;
          }

          .philosophy__description {
            gap: 1.8rem;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      .vision__content {
        gap: 12rem;
        padding: 4rem;

        .vision__text {
          .vision__heading {
            margin-bottom: 1rem;
            font-size: 3.1rem;
            line-height: 3.78rem;
          }

          .vision__description {
            line-height: 1.8rem;
            gap: 1.7rem;
            font-size: 1.25rem;
          }
        }
      }
    }

    .team {
      .team__content {
        .team__content-heading {
          font-size: 3.1rem;
        }
      }
    }

    .jointeam {
      .jointeam__content {
        padding: 4.5rem 3.3rem;

        .jointeam__text {
          .jointeam__heading {
            width: 100%;
            font-size: 3.1rem;
            line-height: 3.5rem;
          }

          .jointeam__actions {
            margin-top: 12rem;
          }
        }
      }
    }

    .contact {
      gap: 0.6rem;
      padding: 4rem;

      .contact-heading-btn {
        .contact__heading {
          width: 82%;
          font-size: 5rem;
          line-height: 5.3rem;
        }

        .contact__btn {
          white-space: nowrap;
          margin-top: 0.38rem 1rem;
        }
      }
    }

    .footer__bottom {
      .pages {
        margin: 0;
        padding: 2.8rem 8rem 2.8rem 2.8rem;
        justify-content: flex-start;
        gap: 12rem;

        .bottom__nav {
          gap: 1.8rem;
          .page__links {
            font-size: 0.9rem;
            letter-spacing: 0.6px;
          }
        }

        .cms {
          gap: 1.8rem;
          .page__links {
            font-size: 0.9rem;
            letter-spacing: 0.6px;
          }
        }

        .utility__pages {
          gap: 1.8rem;
          .page__links {
            font-size: 0.9rem;
            letter-spacing: 0.6px;
          }
        }
      }
    }
  }
}

//------Responsive for laptop 4k view--------------//

@media (min-width: 2560px) {
  .main {
    padding: 1rem 21rem;

    .studio {
      .studio__content {
        justify-content: space-between;

        .studio__text {
          .studio__heading {
            width: 100%;
            line-height: 5rem;
          }

          .studio__description {
            width: 70%;
            font-size: 1.4rem;
          }

          .studio__actions {
            margin-top: 3rem;
          }
        }
      }
    }

    .stats {
      @include flex($direction: row, $gap: 16rem);
      padding: 3rem 16rem;

      .stats__top,
      .stats__bottom {
        @include flex($gap: 16rem);
        .stats__item {
          .stats__number {
            font-size: 4rem;
          }
        }
      }
    }

    .philosophy {
      .philosophy__content {
        gap: 25rem;
        padding: 4rem;

        .philosophy__text {
          .philosophy__heading {
            font-size: 3.1rem;
            width: 90%;
          }

          .philosophy__description {
            gap: 1.8rem;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      .vision__content {
        gap: 25rem;
        padding: 4rem;

        .vision__text {
          .vision__heading {
            font-size: 3.1rem;
            width: 90%;
          }

          .vision__description {
            gap: 1.8rem;
            font-size: 1.27rem;
          }
        }
      }
    }

    .jointeam {
      .jointeam__content {
        padding: 4.5rem 3.3rem;

        .jointeam__text {
          .jointeam__heading {
            width: 80%;
            font-size: 3.1rem;
            line-height: 3.5rem;
          }

          .jointeam__actions {
            margin-top: 19rem;
          }
        }
      }
    }

    .contact {
      padding: 4rem;

      .contact-heading-btn {
        .contact__heading {
          width: 55%;
          font-size: 5rem;
          line-height: 5.3rem;
        }

        .contact__btn {
          padding: 1rem 1.5rem;
          white-space: nowrap;
          margin-top: 0.38rem 1rem;
        }
      }
    }

    .footer__bottom {
      .pages {
        gap: 20rem;
      }
    }

    .template {
      right: 0.2%;
      bottom: 0.18%;
      padding: 0.35rem 0.45rem;
    }
  }
}
