@import "fonts";
@import "colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}

@mixin button($color, $background-color) {
  padding: 1rem 1.4rem;
  border-radius: 0.5rem;
  border: none;
  color: $color;
  background-color: $background-color;
  font-family: robo;
  font-size: 0.9rem;
  font-weight: 400;
}

@mixin flex($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .main__nav {
    @include flex(space-between, center);

    .main__nav-logo {
      padding: 1.1rem 0.5rem;
    }

    .main__nav-menu {
      @include flex(center, center, 0.5rem);

      .nav__btn {
        @include button($color-text-light, $color-surface);
        cursor: pointer;
      }

      .git_btn {
        display: none;
      }

      .btn {
        display: none;
      }

      span {
        background-color: $color-primary;
        color: $color-background;
        padding: 0.08rem 0.38rem;
        border-radius: 1rem;
        font-weight: 300;
        font-size: 0.77rem;
      }

      .ri-menu-line {
        padding: 0.5rem 0.85rem;
        border: none;
        color: $color-text-light;
        background-color: $color-surface;
        font-family: robo;
        border-radius: 0.5rem;
        font-size: 2rem;
        font-weight: 100;
      }
    }
  }

  .studio {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;

    .studio__image-top {
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .studio__content {
      border-radius: 0.5rem;
      background-color: $color-surface;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 1.8rem;

      .studio__subtitle {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: robo;
        color: $color-text-light;
      }

      .studio__text {
        .studio__heading {
          color: $color-text-light;
          font-size: 2.3rem;
          font-family: chill;
          font-weight: 400;
          line-height: 3rem;
          text-transform: uppercase;
        }

        .studio__description {
          margin-top: 0.8rem;
          color: $color-grey;
          font-size: 1.4rem;
          font-weight: 500;
          font-family: satoshi;
        }

        .studio__actions {
          @include flex(flex-start, center, 0.5rem);
          margin-top: 1rem;

          .studio__btn {
            border: 1px solid #474747;
            border-radius: 50%;
            padding: 0.65rem 0.7rem;
            background-color: #292929;
            color: $color-text-light;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          .studio__btn-text {
            font-size: 0.9rem;
            text-transform: uppercase;
            font-family: robo;
            font-weight: 400;
            color: $color-text-light;
          }
        }
      }
    }
  }

  .stats {
    padding: 1.3rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .stats__top,
    .stats__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .stats__item {
        .stats__label {
          color: $color-grey;
          text-transform: uppercase;
          font-family: robo;
          text-align: center;
        }

        .stats__number {
          color: $color-text-light;
          font-family: chill;
          font-weight: 400;
          font-size: 2.4rem;
        }
      }
    }
  }

  .philosophy {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;

    .philosophy__image-top {
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .philosophy__content {
      border-radius: 0.5rem;
      background-color: $color-surface;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 1.8rem;

      .philosophy__subtitle {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: robo;
        color: $color-text-light;
      }

      .philosophy__text {
        .philosophy__heading {
          color: $color-text-light;
          font-size: 2.08rem;
          font-family: chill;
          font-weight: 400;
          line-height: 2.5rem;
          text-transform: uppercase;
        }

        .philosophy__description {
          margin-top: 0.8rem;
          color: $color-grey;
          font-size: 1.13rem;
          font-weight: 500;
          font-family: satoshi;
        }
      }
    }
  }

  .vision {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;

    .vision__image-top {
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .vision__content {
      border-radius: 0.5rem;
      background-color: $color-surface;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 1.8rem;

      .vision__subtitle {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: robo;
        color: $color-text-light;
      }

      .vision__text {
        .vision__heading {
          color: $color-text-light;
          font-size: 2.08rem;
          font-family: chill;
          font-weight: 400;
          line-height: 2.5rem;
          text-transform: uppercase;
        }

        .vision__description {
          margin-top: 0.8rem;
          color: $color-grey;
          font-size: 1.13rem;
          line-height: 1.6rem;
          font-weight: 500;
          font-family: satoshi;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    .main__nav {
      .main__nav-menu {
        .git_btn {
          display: block;
          @include button($color-surface, $color-primary);
        }
      }
    }
    .studio {
      .studio__image-top {
        border-radius: 1rem;
      }

      .studio__content {
        border-radius: 1rem;
        gap: 8rem;

        .studio__text {
          .studio__heading {
            width: 90%;
            font-size: 3.7rem;
            line-height: 4.5rem;
          }

          .studio__description {
            width: 90%;
          }

          .studio__actions {
            margin-top: 2.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .stats {
      padding: 1.7rem 8rem;
      gap: 1.5rem;

      .stats__top,
      .stats__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .stats__item {
          .stats__label {
            br {
              display: none;
            }
          }

          .stats__number {
            font-weight: 400;
            font-size: 3.6rem;
          }
        }
      }
    }

    .philosophy {
      .philosophy__image-top {
        object-fit: cover;
        border-radius: 1rem;
      }
      .philosophy__content {
        border-radius: 1rem;
        gap: 8rem;
        padding: 2.8rem;

        .philosophy__text {
          .philosophy__heading {
            font-size: 2.8rem;
            line-height: 3.5rem;
          }

          .philosophy__description {
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      .vision__image-top {
        object-fit: cover;
        border-radius: 1rem;
      }

      .vision__content {
        border-radius: 1rem;
        gap: 8rem;
        padding: 2.8rem;

        .vision__text {
          .vision__heading {
            font-size: 2.9rem;
            line-height: 3.5rem;
          }

          .philosophy__description {
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .main {
    .main__nav {
      .main__nav-menu {
        .btn {
          display: block;
          @include button($color-text-light, $color-surface);
        }
        .ri-menu-line {
          display: none;
        }
      }
    }

    .studio {
      flex-direction: row;

      .studio__image-top {
        width: 50%;
        border-radius: 1rem;
        object-fit: cover;
      }

      .studio__content {
        width: 50%;
        border-radius: 1rem;
        gap: 12rem;
        padding: 3rem;

        .studio__text {
          .studio__heading {
            font-size: 2.85rem;
            line-height: 3.3rem;
          }

          .studio__description {
            width: 100%;
            font-size: 1.4rem;
          }

          .studio__actions {
            margin-top: 3rem;
            gap: 0.7rem;
          }
        }
      }
    }

    .stats {
      padding: 3rem 4rem;
      display: flex;
      flex-direction: row;
      gap: 8.8rem;

      .stats__top,
      .stats__bottom {
        display: flex;
        gap: 8.8rem;
        .stats__item {
          .stats__label {
            white-space: nowrap;
          }
          .stats__number {
            padding-top: 0.4rem;
            font-size: 2.9rem;
          }
        }
      }
    }

    .philosophy {
      flex-direction: row-reverse;

      .philosophy__image-top {
        border-radius: 1rem;
        width: 50%;
      }

      .philosophy__content {
        width: 50%;
        border-radius: 1rem;
        gap: 12rem;
        padding: 3rem;

        .philosophy__text {
          .philosophy__heading {
            margin-bottom: 1rem;
            font-size: 2.18rem;
            line-height: 2.5rem;
          }

          .philosophy__description {
            gap: 1.8rem;
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      flex-direction: row;

      .vision__image-top {
        border-radius: 1rem;
        width: 50%;
      }

      .vision__content {
        width: 50%;
        border-radius: 1rem;
        gap: 12rem;
        padding: 3rem;

        .vision__text {
          .vision__heading {
            margin-bottom: 1rem;
            font-size: 2.18rem;
            line-height: 2.5rem;
          }

          .vision__description {
            gap: 1.8rem;
            column-count: 2;
            font-size: 1.27rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .main {
    .studio {
      .studio__content {
        padding: 4rem;

        .studio__text {
          .studio__heading {
            font-size: 4rem;
            font-family: chill;
            line-height: 4.6rem;
            text-transform: uppercase;
          }

          .studio__description {
            width: 100%;
            font-size: 1.38rem;
            line-height: 2.1rem;
            font-weight: 500;
          }
        }
      }
    }

    .stats {
      gap: 14rem;

      .stats__top,
      .stats__bottom {
        display: flex;
        gap: 14rem;
        .stats__item {
          .stats__label {
            white-space: nowrap;
          }
          .stats__number {
            padding-top: 0.4rem;
            font-size: 4rem;
          }
        }
      }
    }

    .philosophy {
      .philosophy__content {
        gap: 13rem;
        padding: 4rem;

        .philosophy__text {
          .philosophy__heading {
            margin-bottom: 1rem;
            font-size: 3.1rem;
            line-height: 3.78rem;
          }

          .philosophy__description {
            gap: 1.8rem;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      .vision__content {
        gap: 12rem;
        padding: 4rem;

        .vision__text {
          .vision__heading {  
            margin-bottom: 1rem;
            font-size: 3.1rem;
            line-height: 3.78rem;
          }

          .vision__description {
            line-height: 1.8rem;
            gap: 1.7rem;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  .main {
    padding: 1rem 21rem;

    .studio {
      .studio__content {
        justify-content: space-between;

        .studio__text {
          .studio__heading {
            width: 100%;
            line-height: 5rem;
          }

          .studio__description {
            width: 70%;
            font-size: 1.4rem;
          }

          .studio__actions {
            margin-top: 3rem;
          }
        }
      }
    }

    .stats {
      padding: 3rem 16rem;
      display: flex;
      flex-direction: row;
      gap: 16rem;

      .stats__top,
      .stats__bottom {
        display: flex;
        gap: 16rem;
        .stats__item {
          .stats__label {
          }
          .stats__number {
            font-size: 4rem;
          }
        }
      }
    } 

    .philosophy {
      .philosophy__content {
        gap: 25rem;
        padding: 4rem;

        .philosophy__text {
          .philosophy__heading {
            font-size: 3.1rem;
            width: 90%;
          }

          .philosophy__description {
            gap: 1.8rem;
            font-size: 1.27rem;
          }
        }
      }
    }

    .vision {
      .vision__content {
        gap: 25rem;
        padding: 4rem;

        .vision__text {
          .vision__heading {
            font-size: 3.1rem;
            width: 90%;
          }

          .vision__description {
            gap: 1.8rem;
            font-size: 1.27rem;
          }
        }
      }
    }
  }
}
